<div class="card">
    <div class="card-img-top">
        <img src="{{flag}}" alt="{{name}}">
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><b>{{name}}</b></li>
        </ul>
    </div>
</div>